@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tiny B&B Cleveland<br />
    4155 Ardmore Road<br />
    South Euclid, OH 44121<br />
    <abbr title="Phone">P:</abbr>
    216.254.1608
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@TinyB&B.com">TinyB&BSupport@TinyB&B.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@TinyB&B.com">TinyB&BMarketing@TinyB&B.com</a>
</address>